<div class="hero-image">
  <div class="hero-text">
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title>Search Hundreds of Cheap Hotels!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="search-form">
          <mat-form-field class="search-full-width">
            <input type="text" placeholder="Location" aria-label="Number" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="search-full-width">
            <input matInput [matDatepicker]="picker" placeholder="Booking Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>Search</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
